html {overflow: hidden;}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto-Bold'),
	url('../fonts/Roboto-Bold.ttf')
	format('truetype');
}

body {
  margin: 0 auto;
  width: 1280px;
  height: 720px;
  overflow: hidden;
  display:block;
  font-family: Roboto;
  font-weight: bold;
  background: url(../img/background.png) no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
}

#gameboard{
	position: absolute;
	top: 93px;
	left: 602px;

	width: 480px;
	height: 470px;

	border-radius: 	20px;

	overflow: hidden;
}

#score {
	position: absolute;
	top: 391px;
	left: 242px;
	width: 150px;
	height: 50px;
	font-size: 2.5em;
	text-align: center;
}

#bestScore {
	position: absolute;
	top: 530px;
	left: 242px;
	width: 150px;
	height: 50px;
	font-size: 2.5em;
	text-align: center;
}

#player{
    position : absolute;
    bottom : 50px;
    left: 50px;

    width: 50px;
    height: 50px;

    background-color: #CED100;

	border-radius: 	10px;

	z-index: 3;
}

#bloc1{
	position: absolute;
	bottom: 50px;
	right: 0px;

	width: 0px;
	height: 50px;
    /*background-color: grey;#ff00d9;

	border-radius: 	0px;*/

	z-index: 2;
}

#bloc2{
	position: absolute;
	bottom: 0px;
	right: 0px;

	width: 0px;
	height: 50px;

    /*background-color: white;/*#ff00d9;

	border-radius: 	10px;*/

	z-index: 2;
}

#bloc3{
	position: absolute;
	bottom: 50px;
	right: 0px;

	width: 0px;
	height: 50px;

    /*background-color: red;/*#ff00d9;

	border-radius: 	10px;*/

	z-index: 2;
}

#ground{
	position: absolute;
	bottom: 0px;
	right: 0px;

	width: 480px;
	height: 50px;

    background-color: grey;

	border-radius: 0;

	z-index: 1;
}
